{% extends "layout.html" %}
{% block content %}

<head>
    <title>SEMANTLE FRANCAIS</title>
</head>
<body>
    <h1>
        Venez découvrir votre nouveau jeu préféré<br>        
        <br>
        Trouvez un mot grâce à des modèles d'intelligence artificielle<br>
    </h1>
    <br>
    Soumettez votre mot et regardez si vous êtes proche de celui qu'il faut découvrir :)<br>
    
    <br>
    <br>

    <form action="/test_similarity" methods= "GET" id="name">
        <p>Entrez votre mot ici : </p>
    <input type="text" name="mot" id = "name" >
    <input type="submit" value="Submit">        
    </form>

</body>

{% endblock %}
