{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='styles_play.css')}}">
{% endblock %}
<html>
<head></head>
<body>
    <title> SEMANTLE</title>


    <div style = "width:100%">
		
        <div style = "width:100%">
           <h1>A vous de jouer, devinez le mot !</h1>
           <br><br>
           <br><br>
        </div>
           
        <div style = "height:200px; width:20%; float:left;">
           <div><b>Informations</b></div>
                <p>Aujourd'hui, le mot le plus proche a une similarité de {{most}}</p><br />
                <br />
                <br />
                <p>Le mot de la veille était : <br> {{ previous_word }}</p>
                <br />
                <br />
                <br><br>
                <br><br>
                <div class="tooltip">Passez le curseur ici pour avoir un indice
                    <span class="tooltiptext">Le mot est composé de {{ longueur_mot }} lettres.</span>
                  </div>
                <br><br>
                <br><br>
                <a href="./">
                    <button class="clickhere"> ABANDONNER </button>
                </a>
          </div>
          <div style = "height:200px; width:80%; float:left;">
              <div class="contact">       
                  <form action="{{ url_for('similarity_score') }}" method=post>
                      <div>
                        <!-- Content of your request -->
                        <p>
                            {{ form.text.label }} <br>
                            {{ form.text(placeholder='Votre mot') }}
                        </p>
                        <!-- Submit button -->
                        <p>
                            {{ form.submit }}
                        </p> <br> <hr><br>
                        <h3>Vos propositions</h3>
                        <p> {{ table }} </p>
                    </div>
                </form>
              </div>
            </div>
          </div>  


{% block content %}{% endblock %}
</body>
</html>


