{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='styles_play.css')}}">
{% endblock %}
<html>
<head></head>
<body>
    <div style = "width:100%">
		
        <div style = "width:100%">
          <!-- <h1>A vous de jouer, devinez le mot !</h1> -->
           
        </div>
           
        <div style = "height:200px; width:40%; float:left;">
           
                <p>Le mot le plus proche du <b>mot à trouver </b> a une similarité de <b>{{most}}</b></p><br />
                <br />
                <p>Le mot précédent était : <br> <b> {{ previous_word }}</b></p>
                <!-- Bouton overlay règles du jeu -->
                <br/>

                <a href="./contact" >Cliquez ici pour nous envoyer un e-mail !</a>
                <br/>
                <div id="regle" onclick="regle_off()">
                    <div>Voici les règles de SEMANTIX
                        <br/>
                        <h2> PRINCIPE</h2>
                        <p> Le but de SEMANTIX est d'utilisé des modèles d'intelligence artificielle.... blablabla</p>
                        <br/>
                        <h2>COMMENT ON JOUE ?</h2>
                    </div>
                      </div>
                      
                      <div style="padding:20px">
                        <button  style = "background-color: #202953;" onclick="regle_on()">REGLES</button>
                      </div>
                      
                      <script>
                      function regle_on() {
                        document.getElementById("regle").style.display = "block";
                      }
                      
                      function regle_off() {
                        document.getElementById("regle").style.display = "none";
                      }
                      </script>

                <!-- Bouton overlay indice -->
                <div id="overlay" onclick="off()">
                <div id="text_indice" >  <h2>INDICE</h2> Le mot que l'on cherche est composé de {{ longueur_mot }} lettres.</div>
                  </div>
                  
                  <div style="padding:20px">
                    <button onclick="on()">INDICE</button>
                  </div>
                  
                  <script>
                  function on() {
                    document.getElementById("overlay").style.display = "block";
                  }
                  
                  function off() {
                    document.getElementById("overlay").style.display = "none";
                  }
                  </script>

                <br>
                <!-- Bouton abandonner -->
                <a href="./">
                <button style = "background-color: #883b6a" type="clickhere"> ABANDONNER </button>
                </a>
          </div>
          <div style = "height:200px; width:60%; float:left;">
              <!-- Champ de texte -->
              <div class="contact">       
                  <form action="{{ url_for('similarity_score') }}" method=post>
                      <div>
                        <p>
                            {{ form.text.label }} <br>
                            {{ form.text(placeholder='Votre mot') }}
                        </p> {{ erreur }}
                        <p>
                            {{ form.submit }}
                        </p>
                        <br> <hr color="#0d5674" style= "height:2px"></hr><br>
                        <!-- Tableau de la dernière proposition -->
                        <b>Votre dernière proposition</b>
                        <table class="table1">
                          <tr class="table1__row">
                            {% for cell in word_proposed %}
                            <th class="table1__cell"> {{ cell }} </th>
                            {% endfor %}
                          </tr>
                        </table>
                        <!-- Tableau des propositions -->
                        
                        <table class="table2">
                          <tr class="table2__header">
                            {% for header in headings %}
                            <th class="table2__cell"> {{ header }}</th>
                            {% endfor %}
                          </tr>
                          {% for row in data %}
                          <tr class="table2__row">
                            {% for cell in row %}
                            <td class="table2__cell"> {{ cell }} </td>
                            {% endfor %}
                          </tr>
                          {% endfor %}
                        </table>
                    </div>
                </form>
              </div>
            </div>
          </div>  
        </div>
  

        </body>
{% block content %}{% endblock %}



</html>


