{% extends "layout.html" %}
{% block content %}

<div class="contact">
    <h3>Get similarity of your word</h3>

    <!-- Just here i use "url_for" to call the function get_contact.
            This function return the html code of our contact page-->
    <form action="{{ url_for('similarity_score') }}" method=post>
        <div>
            <!-- Content of your request -->
            <p>
                {{ form.text.label }} <br>
                {{ form.text(placeholder='Your word') }}
            </p>
            <!-- Submit button -->
            <p>
                {{ form.submit }}
            </p>
            <p> {{ table }} </p>
        </div>
    </form>
</div>        

{% endblock %}