html { 
    height: 100%;
    width: 100%;
}

body {
    display:flex;
    background-color: #131416;
    font-family: Arial;
    align-items: top;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}

h1 {
    color: #03e9f4;
    font-size:xx-large;
}

b {
    color: #1d969c;
    font-weight: bold;
    font-size: large;
    text-decoration: underline;

}

p {
    color: #ffffff;
    font-size: medium;
    font-weight: normal;

}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip:hover .tooltiptext {
    opacity: 1;
  }