{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='styles_play.css')}}">
{% endblock %}
<html>
<head></head>
<body>
    <div style = "width:100%">
		
        <div style = "width:100%">
          <!-- <h1>A vous de jouer, devinez le mot !</h1> -->
           
        </div>
           
        <div style = "height:200px; width:40%; float:left;">
           
                <p>Le mot le plus proche du <b>mot à trouver </b> a une similarité de <b>{{most}}</b></p><br />
                <br />
                <p>Le mot précédent était : <br> <b> {{ previous_word }}</b></p>
                <!-- Bouton overlay règles du jeu -->
                <br/>
                <a href="./contact" >Cliquez ici pour nous envoyer un e-mail !</a>
                <br/>
                <div id="regle" onclick="regle_off()">
                    <h1>Règles du jeu Semantix</h1><br>
                        <p> 
                          <h2>- Un objectif :</h2> Trouver le mot secret !<br>
                          <h2>- Comment faire :</h2> En proposant des mots de plus en plus proches contextuellement du mot secret.<br>
                          <h2>- Comment savoir :</h2> Pour chaque mot proposé, un score de similarité avec le mot secret est calculé. Ce score, qui définit la proximité sémantique entre les deux mots, augmente lorsque les deux mots sont de plus en plus proche (il atteint 1 lorsque les deux mots sont identiques).
                          <br>
                          ________________<br>
                          <h2>En savoir plus :</h2><br><br>

                          Semantix est un jeu en ligne inspiré de son équivalent anglais Semantle dont le but est de trouver un mot secret tiré au sort dans une base de données de mots français.
                          <br>
                          Sémantique : <br><br>
                          Deux mots sont proches sémantiquement lorsqu'ils possèdent un grand nombre d'éléments en commun, et non pas car ils ont un grand nombre de lettres en commun. Par exemple, le score de similarité entre "voiture" et "véhicule" est de 0.73 tandis que celui entre "voiture" et "toiture" s'élève seulement à 0.10.
                          <br>
                          Fonctionnement : <br><br>
                          Ce jeu s'appuie sur un modèle d'intelligence artificielle pré-entrainé sur une grande base de données de textes, qui permet de transformer des mots en vecteurs. Pour calculer la distance entre deux mots, le modèle calcule la similarité cosinus (ou cosinus de l'angle) entre les deux vecteurs représentant respectivement chaque mot.
                          <br>
                          Pour simplifier le jeu, les verbes conjugués et les variantes féminines ou plurielles des mots ont été eliminées des mots à deviner (grâce à un deuxième modèle d'intelligence artificielle pré-entrainé). Cependant, les accents et les majuscules comptent lors de la saisie du texte.

                        </p>
                </div>
                      
                      <div style="padding:20px">
                        <button  style = "background-color: #202953;" onclick="regle_on()">REGLES</button>
                      </div>
                      
                      <script>
                      function regle_on() {
                        document.getElementById("regle").style.display = "block";
                      }
                      
                      function regle_off() {
                        document.getElementById("regle").style.display = "none";
                      }
                      </script>

                <!-- Bouton overlay indice -->
                <div id="overlay" onclick="off()">
                <div id="text_indice" >  <h2>INDICE</h2> Le mot que l'on cherche est composé de {{ longueur_mot }} lettres.</div>
                  </div>
                  
                  <div style="padding:20px">
                    <button onclick="on()">INDICE</button>
                  </div>
                  
                  <script>
                  function on() {
                    document.getElementById("overlay").style.display = "block";
                  }
                  
                  function off() {
                    document.getElementById("overlay").style.display = "none";
                  }
                  </script>

                <br>
                <!-- Bouton abandonner -->
                <a href="./">
                <button style = "background-color: #883b6a" type="clickhere"> ABANDONNER </button>
                </a>
          </div>
          <div style = "height:200px; width:60%; float:left;">
              <!-- Champ de texte -->
              <div class="contact">       
                  <form action="{{ url_for('similarity_score') }}" method=post>
                      <div>
                        <p>
                            {{ form.text.label }} <br>
                            {{ form.text(placeholder='Votre mot') }}
                        </p> {{ erreur }}
                        <p>
                            {{ form.submit }}
                        </p>
                        <br> <hr color="#0d5674" style= "height:2px"></hr><br>
                        <!-- Tableau de la dernière proposition -->
                        <b>Votre dernière proposition</b>
                        <table class="table1">
                          <tr class="table1__row">
                            {% for cell in word_proposed %}
                            <th class="table1__cell"> {{ cell }} </th>
                            {% endfor %}
                          </tr>
                        </table>
                        <!-- Tableau des propositions -->
                        
                        <table class="table2">
                          <tr class="table2__header">
                            {% for header in headings %}
                            <th class="table2__cell"> {{ header }}</th>
                            {% endfor %}
                          </tr>
                          {% for row in data %}
                          <tr class="table2__row">
                            {% for cell in row %}
                            <td class="table2__cell"> {{ cell }} </td>
                            {% endfor %}
                          </tr>
                          {% endfor %}
                        </table>
                    </div>
                </form>
              </div>
            </div>
          </div>  
        </div>
  

        </body>
{% block content %}{% endblock %}



</html>


